-Dfile.encoding=UTF-8
-Dsun.jnu.encoding=UTF-8
-Dspring.profiles.active=default
-Djava.awt.headless=true
-Duser.timezone=Asia/Shanghai
-Xms512m
-Xmx1024m
-XX:MetaspaceSize=256m
-XX:MaxMetaspaceSize=512m
-XX:+UseG1GC
-XX:+UseStringDeduplication
-XX:+UseCompressedOops
-XX:+UseCompressedClassPointers
-XX:MaxGCPauseMillis=200
-XX:G1HeapRegionSize=16m
-XX:+TieredCompilation
-XX:TieredStopAtLevel=1
-Dspring.jmx.enabled=false
-Dspring.main.lazy-initialization=true