-T 1C
-Dmaven.compiler.fork=true
-Dmaven.compiler.meminitial=256m
-Dmaven.compiler.maxmem=1024m
-Dmaven.artifact.threads=8
-Daether.connector.basic.threads=8
-Daether.connector.resumeDownloads=false
-Dmaven.wagon.httpconnectionManager.ttlSeconds=120
-Dmaven.wagon.http.retryHandler.requestSentEnabled=true
-Dorg.slf4j.simpleLogger.showDateTime=true
-Dorg.slf4j.simpleLogger.dateTimeFormat=HH:mm:ss